body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

header{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100%;
    padding: 0 60px 0 60px;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    padding: 35px 60px 35px 60px;
   
}

ul{
    display:flex;
    list-style: none;
    column-gap: 20px;
}

main, aside{ 
    flex: 1;
    background-color: lightblue;
    padding: 30px 60px 30px 60px;
}
    .img1{
        display: flex;
        align-items: center;
    }

button{
    background-color: lightgreen;
    padding: 15px 15px 15px 15px;
    border: none;
    color: white;
}

section{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 60px 30px 60px;
}
    .boxcentralizada{
        display: flex;
        justify-content: center;
        gap: 2vw;
    }
    .box{
        text-align: center;
        flex: 1;
    }
